
.input {
	width: 60%;
	padding: 12px 20px;
	margin: auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.l1 {
	width: 130px !important;
	text-align: left;
}

.l2 {
	width: 250px !important;
	text-align: left;
}

.input1 {
	width: 350px !important;
	margin: auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

textarea{
	width:450px !important;
	height:300px !important;
}