body{
	background-image: url('../image/Sfondo3.png'); /* Imposta il percorso dell'immagine */
      background-size: cover; /* Imposta il ridimensionamento dell'immagine */
      background-repeat: no-repeat;
}
.input {
	width: 60%;
	padding: 12px 20px;
	margin: auto;
	height: 20px !important;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.l1 {
	width: 130px !important;
	text-align: left;
}
.form2 {
	display: table;
	margin-top:10px;
	margin-left:auto;
	margin-right: auto;
	background-color: #ffffb3;
	position: center !important;
	align-content: center !important;
	align-items: center !important;
	align-self: center !important;
	width: 800px !important;
	height: auto;
	box-shadow: 0px 0px 10px 2px #5f5f5f;
}
.l2 {
	width: 250px !important;
	text-align: left;
}

.input1 {
	width: 350px !important;
	margin: auto;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

textarea{
	width:450px !important;
	height:300px !important;
}