.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 15px !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


.card{
	position: center !important;
	align-content: center !important;
	align-items: center !important;
	align-self: center !important;
	width:450px !important;
	height:380px !important;
	
}
#imgbando{
	margin-top:10px;
	width: 350px !important;
	height: 200px !important;
}
/*DA 1120 A 990 IMG PIU' PICCOLA*/

.flag.flag-card {
    position: absolute;
    right: 48px;
    top: -3px;
    width: 0;
    height: 0;
    margin: 0;
}